{% extends 'admin:layout/base.twig' %}

{% block content %}
    <div class="signin">
        <div class="card ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12 col-lg-6 text-center">
                        <div class="sign-in-logo">{{ admin_panel_config('brand_logo') | raw }}</div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h2 class="text-center">{{ 'user.login_control_panel' | trans }}</h2>
                        <livewire:sign-in />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
